.spam-comment-root {
    background-color: #ececec;
}

.additional-button {
    cursor: pointer;
    font-weight: bold;
    color: #3b64b6;
}

.additional-button:hover {
    text-decoration: underline;
}
