body {
    width: 400px;
    margin: 0;

    background-color: #ff9295;

    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

body > * {
    padding: 8px 16px;
}

body > *:first-child {
    padding-top: 16px;
}

body > *:last-child {
    padding-bottom: 16px;
}

header {
    text-align: center;
    font-weight: bold;
}

.title {
    font-size: x-large;
}

.logo {
    width: 6rem;
    margin-top: 16px;
    transform: rotate(180deg);
    transition: all 200ms ease-in;
}

main {
    text-align: center;
}

section > * {
    margin: 12px 0;
}

label {
    display: block;
    margin-bottom: 16px;
    font-size: large;
}

.hidden {
    display: none;
}

input[type='text'], input[type='number'], textarea, select {
    width: 100%;
    height: 40px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 6px;
    box-shadow: none;
    box-sizing: border-box;
}

input[type='text']:focus, input[type='number']:focus, textarea:focus, select:focus {
    border: 2px solid #fac400;
    outline: 0;
}

textarea {
    min-height: 90px;
}

label a {
    font-size: 0.95rem;
    text-decoration: none;
    color: white;
    font-style: italic;
}

label a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    height: 40px;
    padding: 6px 20px;
    cursor: pointer;

    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s linear;

    border: none;
    outline: none;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.button-container button span {
    font-size: large;
    margin-right: 4px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: rgba(122, 122, 122, 0.2);
}

footer > * {
    cursor: pointer;
    color: white;
    transition: all 200ms ease;
    transform: translateY(0px);
}

footer > *:hover {
    transform: translateY(-4px);
}

footer a {
    text-decoration: none;
}

.self-destruct {
    padding: 4px;
    border-radius: 4px;
}

.self-destruct:hover {
    font-weight: bold;
    background: repeating-linear-gradient(
        45deg,
        black,
        black 10px,
        yellow 10px,
        yellow 20px
    );
}

.self-destruct span {
    display: none;
}

.self-destruct:hover span {
    display: inline;
}

.self-destruct-text {
    padding: 1px 4px;
}

.self-destruct:hover .self-destruct-text {
    background: yellow;
    color: black;
}

/**
 For switch
 https://codepen.io/agoodwin/pen/JBvBPr
*/
*, :after, :before {
    box-sizing: border-box;
}

.toggle-container {
    position: relative;
    height: 90px;
    width: 100%;
}

.toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
}

.toggle:before {
    content: 'OFF';
    position: absolute;
    left: -56px;
    top: 30px;
    font-size: 18px;
    color: #fff;
}

.toggle:after {
    content: 'ON';
    position: absolute;
    right: -46px;
    top: 30px;
    font-size: 18px;
    color: rgba(253, 15, 21, 0.31);
}

.toggle label {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #fd1015;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px #ef4247;
    -webkit-tap-highlight-color: transparent;
}

.toggle label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
    height: 42px;
    width: 42px;
    background-color: #fd0f14;
    border-radius: 46px;
    box-shadow: inset 0px 0px 0px 8px #fff;
}

.toggle input {
    display: none;
}

.toggle input:checked + label {
    background-color: #57de72;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px rgba(3, 132, 28, 0.5411764705882353);
}

.toggle input:checked + label:before {
    width: 10px;
    background-color: #fff;
}

.on {
    background-color: #6fc57c;
}

.on .toggle:before {
    color: rgba(62, 160, 81, 0.89);
}

.on .toggle:after {
    color: #fff;
}

.on .logo {
    transform: rotate(0deg);
}

/** End for switch */